.item {
    display: block;
    padding-left: 10px;
    padding-right: 33px;
    margin-right: 5px;
    margin-bottom: 3px;
    height: 40px;
    line-height: 36px !important;
    border: 0;
    border-radius: 4px;
    cursor: default;
    background-color: rgba(245, 245, 245, .5);
    color: #0f54b9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}